@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
    font-family: "Playwrite NZ Basic", cursive !important;
}